---
title: Short biography
---
{% include header.html %}

- 1976 – Born in Croydon, United Kingdom.
- 1995 – Went to University of Sussex for a four year MMath degree.
- 2004 – Married Jo.
- 2004 – Backpacked around South-East Asia, mostly Thailand, for nine months.
- 2005 – Moved to Cape Town, South Africa.
- 2005 – Opened and ran a shop selling South-East Asia jewellery, accessories, and decor.
- 2005 – Started working as a freelance web developer, mostly front-end.
- 2006 – Got two cats: Meep and Sproing.
- 2010 – Got a dog: Roxy.
- 2012 – First full-time job as a Front-End Developer.
- 2013 – Ran first RailsBridge Cape Town event.
- 2015 – Went back to freelancing / consulting. Started first full-time teaching job at CodeX.
- 2016 – Ran first MVP (Minimum Viable Party): a dance party for grown-ups.
- 2017 – School of Life conference in Lisbon.
- 2018 – Holiday to Halifax and Vancouver in Canada on a bit of a recon mission.
- 2019 – Holiday to Aotearoa New Zealand on a bit of a recon mission.
- 2020 – Moved to Wellington, Aotearoa New Zealand.
- 2021 – First full-time web accessibility job.

{% include footer.html %}
