---
title: Table of contents
---
{% include header.html title="The Big Idea" %}

<h2>The short version</h2>

<ol>
  {%- assign shorts = site.the-big-idea | where: "short", "true"  | sort: "order" -%}
  {% for short in shorts %}<li>{{ short.short-version | markdownify }}
</li>{% endfor %}
</ol>

<h2>The slightly longer version</h2>

<ol>
  {%- assign pieces = site.the-big-idea | sort: "order" -%}
  {% for piece in pieces %}<li><a href="{{ piece.url }}">{{ piece.title }}</a></li>{% endfor %}
</ol>

{% include footer.html %}