---
title: Art Archive
year: 2022
---
{% include header.html %}

{% assign artyear = page.year | prepend: 'art' %}

{% for art in site.data[artyear] %}

<h2><a href="/art/{{ page.year }}/{{ page.year }}-{{art.month}}-{{ art.name | slugify }}/">{{ page.year }}-{{art.month}} {{ art.name }}</a></h2>

<ul role="list" class="art">

{% assign artitem = page.year | append: '-' | append: art.month | append: '-' | append: art.name | slugify %}
{% assign artfiles = site.static_files | where: artyear, true %}

  {%- for artfile in artfiles -%}
    {%- if artfile.path contains artitem -%}
    <li role="listitem">
      <a href="{{ artfile.path }}">
        {{- artfile.basename -}}
      </a>
    </li>
    {%- endif -%}
  {%- endfor -%}

</ul>

{% endfor %}

{% include footer.html %}
