---
---
<!DOCTYPE html>
<html lang="en-nz" class="note-archive">
  <head>
    <meta charset="utf-8" />
    <title>Art Archive</title>
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="https://use.typekit.net/ven2qwv.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <meta content="#fafafa" name="theme-color" />
  </head>

  <body>
    {% include nav.html %}
    
    <h1>Art</h1>

    <ul>
    {% for thing in site.art %}
      {% assign slugified_title = thing.title | replace: " ", "-" | replace:
      "---", "-" | downcase %}
      <li class="thing"><a href="/art/{{ slugified_title }}/">{{ thing.title }}</a>

        <ul>
            {% assign current_art = "art/" | append: slugified_title %} {% for
      note in site.static_files %} {% if note.path contains current_art %}
      <li>
        <a href="{{ note.path }}">
          {{ note.basename }}
        </a>
      </li>
      {% endif %} {% endfor %}
        </ul>

      </li>
    {% endfor %}
    <ul>
  </body>
</html>
