---
title: Art Archive
---
{% include header.html %}

    <ul class="archive">
    {% for thing in site.art %}
      <li class="thing"><a href="{{ thing.permalink }}">{{ thing.title }}</a>

        <ul>
            {% assign current_art = thing.permalink %} {% for
      note in site.static_files %} {% if note.path contains current_art %}
      <li>
        <a href="{{ note.path }}">
          {{ note.basename }}
        </a>
      </li>
      {% endif %} {% endfor %}
        </ul>

      </li>
    {% endfor %}
    <ul>
{% include footer.html %}
