---
title: Art Archive
---
{% include header.html %}

    <ul class="archive">
    {% for thing in site.art %}
      <li class="thing"><a href="{{ thing.url }}">{{ thing.title }}</a>

        <ul>
        {% for note in site.static_files %}
          {% if note.path contains thing.url %}
          <li>
            <a href="{{ note.path }}">
              {{ note.basename }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>

      </li>
    {% endfor %}
    <ul>
{% include footer.html %}
