<!DOCTYPE html>
<html lang="en-nz">
  <head>
    <meta charset="utf-8" />
    <title>{% if include.title %}{{ include.title }}: {% endif %}{{ page.title }}</title>
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="https://use.typekit.net/ven2qwv.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <meta content="#fafafa" name="theme-color" />
  </head>

  <body>

    <a href="#main" class="sr-only focusable">Skip to main content</a>

    {% include nav.html %}

    <main id="main" tabindex="0">

    <h1>{{ page.title }}</h1>