<!DOCTYPE html>
<html lang="en-nz">
  <head>
    <meta charset="utf-8" />
    <title>
    {%- if page.title -%}
    {{ page.title }}
    {%- else -%}
    {{ include.title }}
    {%- endif -%}
    {%- unless page.url == "/" -%}
    &nbsp;–&nbsp;Steve Barnett dot me
    {%- endunless -%}
    </title>
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="view-transition" content="same-origin">

    <link href="https://use.typekit.net/ven2qwv.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css?v=20241206" rel="stylesheet" />

    <meta content="#fafafa" name="theme-color" />
  </head>

  <body>

    <a href="#main" class="sr-only focusable">Skip to main content</a>

    <a href="#menu">Menu<span aria-hidden="true"> ↓</span></a>

    {% unless page.hidenav == true %}
    {% unless page.layout == "focus" %}
    {% include nav.html %}
    {% endunless %}
    {% endunless %}

    <main id="main" tabindex="-1">

    {% unless page.layout == "focus" %}
    {% unless page.layout == "monthly-archive" %}
    {% unless page.layout == "yearly-archive" %}
    {% unless page.layout == "topic" %}
    {% unless page.layout == "and" %}
    {% unless page.layout == "andand" %}
    <h1>{{ page.title }}</h1>
    {% endunless %}
    {% endunless %}
    {% endunless %}
    {% endunless %}
    {% endunless %}
    {% endunless %}
  