<nav aria-label="Main navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %} aria-current="page" {% endif %}>Home</a></li>
    <li><a href="/notes/" {% if page.url contains "/notes/" %} aria-current="page" {% endif %}>Notes</a></li>
    <li><a href="/art/" {% if page.url contains "/art/" %} aria-current="page" {% endif %}>Art</a></li>
    <li><a href="/thinking/" {% if page.url contains "/thinking" %} aria-current="page" {% endif %}>Thinking</a></li>
    <li><a href="/doing/" {% if page.url contains "/doing" %} aria-current="page" {% endif %}>Doing</a></li>
  </ul>
</nav>