<script>
  (() => {
    if (!window.location.hash && !window.location.search) return;

    // if there's a hash, only show that section
    const currenttopic = window.location.hash;
    if (currenttopic) {
      const topicdivs = document.querySelectorAll('.topic');
      topicdivs.forEach(el => el.classList.add('sr-only'));
      document.getElementById(currenttopic.substring(1)).classList.remove('sr-only');
    }

    // if there's a s query param, only show those items
    const params = new URLSearchParams(window.location.search);
    const searchterm = params.get('s').toLowerCase().replace(/[.,!&;:\-()]/g,"");
    const searchformcontainer = document.getElementById('search-form-container');
    const searchinput = document.getElementById('search');

    if(searchterm) {
      // set search form box open
      searchformcontainer.setAttribute('open', '');
      searchinput.setAttribute('value', searchterm)

      // update title and h1
      document.title = document.title + ', filtered for "' + searchterm + '"';
      document.querySelector('h1').textContent = document.querySelector('h1').textContent + ', filtered for "' + searchterm + '"';

      const relatedto = document.querySelectorAll('.related-to');
      relatedto.forEach(el => el.remove());

      const lis = document.querySelectorAll('main li');
      lis.forEach(el => {
        if (!el.textContent.toLowerCase().replace(/[.,!&;:\-()]/g,"").includes(searchterm)) {
          el.remove();
        }
      });
    }
  })();
</script>