{%- assign sectionposts = site.thinking | where: include.section, "true" | sort: "updated" | reverse -%}

<ul>
{%- for sectionpost in sectionposts -%}

{%- assign currentsectionpostyear = sectionpost.updated | date: "%Y" -%}

{% if currentsectionpostyear == page.year %}
<li data-month="{{ sectionpost.updated | date: "%m" }}">
  {% if sectionpost.done == true %}✔ {% endif %}<a href="{{ sectionpost.url }}">{{ sectionpost.title }}</a> (added {{ sectionpost.added }}{% if sectionpost.updated !=  sectionpost.added %}, updated {{ sectionpost.updated }}{% endif %})
</li>
{% endif %}

{%- endfor -%}
</ul>