<p class="skip-toc-text">Skip to:</p>

<ul class="skip-toc" role="list">
  {% if page.toc contains "zen" %}<li><a href="#zen">Zen</a></li>{% endif %}
  {% if page.toc contains "zennotes" %}<li><a href="#zen-notes">Zen book notes</a></li>{% endif %}
  {% if page.toc contains "longerform" %}<li><a href="#longer-form">longer form writing</a></li>{% endif %}
  {% if page.toc contains " notes " %}<li><a href="#notes">notes from books, articles, talks</a></li>{% endif %}
  {% if page.toc contains "omb" %}<li><a href="#omb">OMB</a></li>{% endif %}
  {% if page.toc contains "buddhism">" %}<li><a href="#buddhism">Buddhism</a></li>{% endif %}
  {% if page.toc contains "ifs" %}<li><a href="#ifs">IFS-ish</a></li>{% endif %}
  {% if page.toc contains "collections">" %}<li><a href="#collections">collections of short bits</a></li>{% endif %}
</ul>