---
layout: page
title: Zen
added: 2024-01-10
updated: 2024-01-20
permalink: /thinking/zen/
---

<h2>Zen in the Art of Archery</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "Zen in the Art of Archery" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>Rational Zen - Intro</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "Rational Zen - Intro" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>Rational Zen - Universal Book of Eternal Peace</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "Rational Zen - Universal Book of Eternal Peace" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>Rational Zen - Treasury of Eyes of True Teaching</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "Rational Zen - Treasury of Eyes of True Teaching" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>The Eight Gates of Zen - Introduction</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - Introduction" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>The Eight Gates of Zen - The Teachings of Mountains and Rivers</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Teachings of Mountains and Rivers" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>The Eight Gates of Zen - Shakyamuni's Flower</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - Shakyamuni's Flower" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>The Eight Gates of Zen - The Seal of Enlightenment</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Seal of Enlightenment" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>The Eight Gates of Zen</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2>The Eight Gates of Zen - The Ten Grave Precepts</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Ten Grave Precepts" -%}

<ol>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ol>

<h2>The Eight Gates of Zen - The Four Great Vows</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Four Great Vows" -%}

<ol>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ol>
