---
layout: page
title: Zen
added: 2024-01-10
updated: 2024-01-25
permalink: /thinking/zen/
---

{%- assign summaryposts = site.data.zen2024 | where: "source", "summary" -%}

<ul>
  {% for summarypost in summaryposts %}
  <li>{{ summarypost.text }}</li>
  {% endfor %}
</ul>


<h2 id="zen-in-the-art-of-archery">Zen in the Art of Archery</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "Zen in the Art of Archery" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2 id="rational-zen">Rational Zen</h2>

<h3 id="rational-zen-intro">Intro</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Rational Zen - Intro" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="rational-zen-universal-book-of-eternal-peace">Universal Book of Eternal Peace</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Rational Zen - Universal Book of Eternal Peace" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="rational-zen-treasury-of-eyes-of-true-teaching">Treasury of Eyes of True Teaching</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Rational Zen - Treasury of Eyes of True Teaching" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h2 id="the-eight-gates-of-zen">The Eight Gates of Zen</h2>

<h3 id="the-eight-gates-of-zen-introduction">Introduction</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - Introduction" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="the-eight-gates-of-zen-the-teachings-of-mountains-and-rivers">The Teachings of Mountains and Rivers</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Teachings of Mountains and Rivers" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="the-eight-gates-of-zen-shakyamunis-flower">Shakyamuni's Flower</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - Shakyamuni's Flower" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="the-eight-gates-of-zen-the-seal-of-enlightenment">The Seal of Enlightenment</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Seal of Enlightenment" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="the-eight-gates">The Eight Gates</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="the-eight-gates-of-zen-the-ten-grave-precepts">The Ten Grave Precepts</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Ten Grave Precepts" -%}

<ol>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ol>

<h3 id="the-eight-gates-of-zen-the-four-great-vows">The Four Great Vows</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "The Eight Gates of Zen - The Four Great Vows" -%}

<ol>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ol>

<h2 id="introduction-to-zen-training">Introduction to Zen Training</h2>

{%- assign zenposts = site.data.zen2024 | where: "source", "Introduction to Zen Training" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="why-do-zazen">Why Do Zazen</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Introduction to Zen Training - Why Do Zazen" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="the-aim-of-zazen">The Aim of Zazen</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Introduction to Zen Training - The Aim of Zazen" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="how-to-sit-in-zen-meditation">How To Sit In Zen Meditation</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Introduction to Zen Training - How To Sit In Zen Meditation" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="things-to-pay-attention-to-during-meditation">Things To Pay Attention To During Meditation</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Introduction to Zen Training - Things To Pay Attention To During Meditation" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>

<h3 id="physiological-effects">Physiological Effects</h3>

{%- assign zenposts = site.data.zen2024 | where: "source", "Introduction to Zen Training - Physiological Effects" -%}

<ul>
  {% for zenpost in zenposts %}
  <li>
    {%- if zenpost.star -%}<strong>{%- endif -%}{{ zenpost.text }}{%- if zenpost.star -%}</strong>{%- endif -%}
  </li>
  {% endfor %}
</ul>