---
title: Notes Archive
---
{% include header.html %}

    <ul class="archive">
    {% for section in site.notes %}
      <li class="section"><a href="{{ section.url }}">{{ section.title }}</a>

        <ul>
          {% for note in site.static_files %}
            {% if note.path contains section.url %}
            <li>
              <a href="{{ note.path }}">
                {{ note.basename }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>

      </li>
    {% endfor %}
    <ul>

{% include footer.html %}
