---
title: Notes Archive
---
{% include header.html %}

    <ul class="archive">
    {% for section in site.notes %}
      {% assign slugified_title = section.title | replace: " ", "-" | replace:
      "---", "-" | downcase %}
      <li class="section"><a href="/notes/{{ slugified_title }}/">{{ section.title }}</a>

        <ul>
            {% assign current_notes = "notes/" | append: slugified_title %} {% for
      note in site.static_files %} {% if note.path contains current_notes %}
      <li>
        <a href="{{ note.path }}">
          {{ note.basename }}
        </a>
      </li>
      {% endif %} {% endfor %}
        </ul>

      </li>
    {% endfor %}
    <ul>

{% include footer.html %}
