---
title: Table of contents
---
{% include header.html title="Big Ideas" %}

<p>These are a handful of ideas that made me stop and think. They changed how I think about things and how I try to be in the world. They're rules of thumbs for being a better person. For me that means being a better friend, partner, teacher, professional, creative.</p>

<p>The ideas come from a wide range of sources (philosophy, psychology, teaching and training) that I'll try to list at some point. I'm not sure yet what I'm doing with this list, but writing it down feels like a good first step.</p>

    <ul>
      {% for big-idea in site.big-ideas %}<li><a href="{{ big-idea.url }}">{{ big-idea.title }}</a></li>{% endfor %}
    </ul>

{% include footer.html %}