{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign sortedtags = site.tags | sort -%}

<p>There are also lists of <a href="/thinking/">the starred items</a>, <a href="/thinking/topics/">the topics</a>, and <a href="/thinking/recently-added/">recently added items</a>.</p>

{%- for tag in sortedtags -%}

  {%- assign tagsrelatedtothistag = "" -%}
  {%- assign currenttagname = tag[0] -%}

  <div id="{{ currenttagname }}" class="topic">

    <h2><span class="tagmoji">{{ site.data.tagmoji[currenttagname] }}</span> <a href="#{{ currenttagname }}">{%-
    if currenttagname == "TMWT" -%}
    {{ currenttagname }}
    {%- else -%}
    {{ currenttagname | capitalize }}
    {%- endif -%}</a></h2>

      <ul>
      {%- assign thinkingposts = tag[1] | where: "categories", "thinking" -%}
      {%- for post in thinkingposts -%}
        <li id="{{ post.title | truncatewords: 5 | slugify  }}">
          {% if post.star %}<strong>{% endif %}
          {{ post.title }}
        {% if post.star %}</strong>{% endif %}

          {%- assign numberoftags = post.tags | size -%}
          {%- if numberoftags > 1 -%}

            {%- assign sortedposttags = post.tags | sort_natural -%}

            {%- capture tagsrelatedtothispost -%}
            <span class="tags">Related:&nbsp;
            {%- for taginpost in sortedposttags -%}
              {%- unless taginpost == currenttagname -%}
                , <span class="tagmoji">{{ site.data.tagmoji[taginpost] }}</span>&nbsp;<a href="#{{ taginpost }}">{{ taginpost | capitalize }}</a>
              {%- endunless -%}
            {%- endfor -%}
            .
            {%- endcapture -%}
            {{ tagsrelatedtothispost | remove_first: ", " }}</span>

          {%- endif -%}
        </li>

        {%- for tagfortagrelation in post.tags -%}
          {%- unless tagfortagrelation == currenttagname -%}
            {%- assign tagsrelatedtothistag = tagsrelatedtothistag | append: ", " | append: tagfortagrelation -%}
          {%- endunless -%}
        {%- endfor -%}

      {%- endfor -%}
      </ul>

      {%- assign tagsrelatedtothistag = tagsrelatedtothistag | remove_first: ", " -%}
      {%- assign tagsrelatedtothistagarray = tagsrelatedtothistag | split: ", " -%}
      {%- assign tagsrelatedtothistagarray = tagsrelatedtothistagarray | uniq -%}
      {%- assign tagsrelatedtothistagarraysize = tagsrelatedtothistagarray | size -%}
      {%- assign tagsrelatedtothistagarray = tagsrelatedtothistagarray | sort_natural %}

      {%- unless tagsrelatedtothistagarraysize == 0 -%}
        {%- capture tagsrelatedtothistagstring -%}
        <p>Related to {{ currenttagname | capitalize }}:&nbsp;
        {%- for tagsrelatedtothistaglinks in tagsrelatedtothistagarray -%}
          , <span class="tagmoji">{{ site.data.tagmoji[tagsrelatedtothistaglinks] }}</span>&nbsp;<a href="#{{ tagsrelatedtothistaglinks }}">{{ tagsrelatedtothistaglinks | capitalize }}</a>
        {%- endfor -%}
        .</p>
        {%- endcapture -%}
        {{ tagsrelatedtothistagstring | remove_first: ", " }}
      {%- endunless -%}
  </div>

{%- endfor -%}
</div>

<script>
  (() => {
    if (!window.location.hash) return;
    const currenttopic = window.location.hash;
    const topicdivs = document.querySelectorAll('.topic');
    topicdivs.forEach(el => el.classList.add('sr-only'));
    document.getElementById(currenttopic.substring(1)).classList.remove('sr-only');
  })();
</script>

{% include footer.html %}
