<!DOCTYPE html>
<html lang="en-nz" class="notes">
  <head>
    <meta charset="utf-8" />
    <title>Art: {{ page.title }}</title>
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="https://use.typekit.net/ven2qwv.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <meta content="#fafafa" name="theme-color" />
  </head>

  <body>
    <h1>{{ page.title }}</h1>

    <ul>
      {% assign slugified_title = page.title | replace: " ", "-" | replace:
      "---", "-" | downcase %} {% assign current_art = "art/" | append:
      slugified_title %} {% for thing in site.static_files %} {% if thing.path
      contains current_art %}
      <li>
        <h2>{{ thing.basename | replace: "-", " " }}</h2>
        <a href="{{ thing.path }}">
          <img
            src="{{ thing.path }}"
            alt="Art, sort of: {{ thing.basename }}"
          />
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </body>
</html>
