{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign loveposts = site.posts | where: "love", "true" | sort: "order" -%}
{%- assign openposts = site.posts | where: "open", "true" | sort: "order" -%}
{%- assign connectposts = site.posts | where: "connect", "true" | sort: "order" -%}

<h2 id="loving" tabindex="-1">Loving</h2>

<ul>
  {%- for lovepost in loveposts -%}
  <li id="{{ lovepost.title | truncatewords: 5 | slugify  }}">
    {{ lovepost.title }} <span class="tags">In 
    
    {%- assign sortedlovepost = lovepost.tags | sort_natural -%}

    {%- capture loveposttags -%}
      {%- for tag in sortedlovepost -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ loveposttags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ul>

<h2 id="open" tabindex="-1">Opening</h2>

<ul>
  {%- for openpost in openposts -%}
  <li id="{{ openpost.title | truncatewords: 5 | slugify  }}">
    {{ openpost.title }} <span class="tags">In 
    
    {%- assign sortedopenpost = openpost.tags | sort_natural -%}

    {%- capture openposttags -%}
      {%- for tag in sortedopenpost -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ openposttags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ul>

<h2 id="connect" tabindex="-1">Connecting</h2>

<ul>
  {%- for connectpost in connectposts -%}
  <li id="{{ connectpost.title | truncatewords: 5 | slugify  }}">
    {{ connectpost.title }} <span class="tags">In 
    
    {%- assign sortedconnectpost = connectpost.tags | sort_natural -%}

    {%- capture connectposttags -%}
      {%- for tag in sortedconnectpost -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ connectposttags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ul>

<h2>See also:</h2>

<ul>
  <li><a href="/{{ page.currentcategory }}/topics/">{{ page.currentcategory | capitalize }} topics</a>;</li>
  <li> <a href="/{{ page.currentcategory }}/all/">all {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.currentcategory }}/recently-added/">recently added {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a>.</li>
</ul>

{% include footer.html %}
