{% include header.html title=page.title %}

{{ content | markdownify }}

{% include skip-toc.html %}

<h2 id="zen" tabindex="-1">Zen</h2>
{% include section-loop-all.html section="zen" ordered="true" %}

<h3 id="zen-notes" tabindex="-1">Zen notes</h3>
{% include section-loop-all.html section="zennotes" ordered="true" %}

<h2 id="longer-form" tabindex="-1">Longer form</h2>
{% include section-loop-all.html section="longerform" ordered="true" %}

<h3 id="notes" tabindex="-1">Notes from books, articles, talks</h3>
{% include section-loop-all.html section="notes" ordered="true" %}

<h2 id="buddhism" tabindex="-1">Buddhism</h2>
{% include section-loop-all.html section="buddhism" ordered="true" %}

<h2 id="omb" tabindex="-1">OMB</h2>
{% include section-loop-all.html section="omb" ordered="true" %}

<h2 id="ifs" tabindex="-1">IFS-ish</h2>
{% include section-loop-all.html section="ifs" ordered="true" %}

<h2 id="collections" tabindex="-1">Collections</h2>
{% include section-loop-all.html section="sbcollection" ordered="true" %}

<h2>See also</h2>

{% include thinking-links.html %}

{% include footer.html %}
