{%- assign currentYear = page.year | plus: 0 -%}
{%- assign currentMonth = page.month | plus: 0 -%}

{%- assign printMonth = currentMonth -%}
{%- if currentMonth < 10 -%}
{%- assign printMonth = printMonth | prepend: "0" -%}
{%- endif -%}

{%- assign currentYearMonth = currentYear | append: "-" | append: printMonth -%}

{%- assign monthlyArchivePageTitle = "Archive for " | append: currentYearMonth -%}

{% include header.html title=monthlyArchivePageTitle %}


<h1>Archive for {{ currentYearMonth }}</h1>

{%- if content.size > 0 -%}
<h2>Summary and highlights</h2>

{{ content | markdownify }}
{%- endif -%}


<h2 id="thinking">Thinking</h2>

<h3 id="zen" tabindex="-1">Zen</h3>
{% include section-loop-month-numbered.html section="zen" %}

<h3 id="zen-notes" tabindex="-1">Zen notes</h3>
{% include section-loop-month-numbered.html section="zennotes" %}

<h3 id="longer-form" tabindex="-1">Longer form</h3>
{% include section-loop-month-numbered.html section="longerform" %}

<h3 id="notes" tabindex="-1">Notes from books, articles, talks</h3>
{% include section-loop-month-numbered.html section="notes" %}

<h3 id="buddhism" tabindex="-1">Buddhism</h3>
{% include section-loop-month-numbered.html section="buddhism" %}

<h3 id="omb" tabindex="-1">OMB</h3>
{% include section-loop-month-numbered.html section="omb" %}

<h3 id="ifs" tabindex="-1">IFS-ish</h3>
{% include section-loop-month-numbered.html section="ifs" %}

<h3 id="collections" tabindex="-1">Collections</h3>
{% include section-loop-month-numbered.html section="sbcollection" %}

<h3 id="posts">Posts</h3>

<ol reversed>
{%- assign recentposts = site.posts | where: "categories", "thinking"  -%}
{%- assign reversedRecentPosts = recentposts | reverse -%}

{%- for recentpost in reversedRecentPosts -%}
    
	{%- assign recentPostYear = recentpost.date | date: "%Y" | plus: 0 -%}
	{%- assign recentPostMonth = recentpost.date | date: "%m" | plus: 0 -%}

    {%- if currentYear == recentPostYear and currentMonth == recentPostMonth -%}

    <li>
        {%- if recentpost.star -%}<strong>{%- endif -%}
        {{ recentpost.title }} 
        {%- if recentpost.star -%}</strong>{%- endif -%}
        <span class="tags">&nbsp;In&nbsp;

        {%- assign sortedrecentposttags = recentpost.tags | sort_natural -%}

        {%- capture recentposttags -%}
          {%- for tag in sortedrecentposttags -%}
          , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/thinking/topics/{{ tag }}/">{{ tag | capitalize }}</a>
          {%- endfor -%}
        {%- endcapture -%}

        {{ recentposttags | remove_first: ", " }}. Added {{ recentpost.date | date: "%d-%m-%Y" }}.</span>
    </li>

    {%- assign currentThinkingCount = currentThinkingCount | plus: 1 -%}

    {%- endif -%}
    
{%- endfor -%}
</ol>

{%- if currentThinkingCount == 0 -%}
<p>Nothing this month.</p>
{%- endif-%}

<h2 id="noting">Noting</h2>

<h3>Book notes</h3>
{%- assign currentBookNoteCount = 0 -%}

<ol reversed>
{%- for booknote in site.data[page.booksdata] -%}
    {%- if booknote.my_notes -%}
        {%- assign currentBookNoteMonth = booknote.date_read | date: "%m" | plus: 0 -%}

        {%- if currentMonth == currentBookNoteMonth -%}
            <li>
                <a href="{{ booknote.my_notes }}">{{ booknote.title }}</a>.
            </li>
        {%- assign currentBookNoteCount = currentBookNoteCount | plus: 1 -%}
        {%- endif-%}
    {%- endif-%}
{%- endfor -%}
</ol>

{%- if currentBookNoteCount == 0 -%}
<p>Nothing this month.</p>
{%- endif-%}

{%- if page.notesdata -%}

<h3>Other notes</h3>
{%- assign currentOtherNoteCount = 0 -%}

<ol reversed>
    {%- for notesnote in site.data[page.notesdata] -%}

        {%- assign currentnotesnoteMonth = notesnote.date_added | date: "%m" | plus: 0 -%}

        {%- if currentMonth == currentnotesnoteMonth -%}
            <li>
                <a href="/notes/{{ notesnote.section }}/{{ notesnote.note }}.{{ notesnote.extension }}">{{ notesnote.note }}</a> in {{ notesnote.section }}{%- if notesnote.source -%}
                , from <a href="{{ notesnote.source }}">{{ notesnote.source_name }}</a>
                {%- endif -%}.
            </li>
        {%- assign currentOtherNoteCount = currentOtherNoteCount | plus: 1 -%}
        {%- endif-%}
    {%- endfor -%}
</ol>

{%- if currentOtherNoteCount == 0 -%}
<p>Nothing this month.</p>
{%- endif-%}

{%- endif-%}



<h2 id="reading">Reading</h2>

<ol reversed>
{%- assign currentBookCount = 0 -%}

{%- for book in site.data[page.booksdata] -%}
    {%- assign currentBookMonth = book.date_read | date: "%m" | plus: 0 -%}
    {%- if currentMonth == currentBookMonth -%}
        <li>
            {%- if book.my_rating == 5 -%}<strong>{%- endif-%}
            {{ book.title }}
            {%- if book.my_rating == 5 -%}</strong>{%- endif-%}
            &nbsp;by&nbsp;
            {%- if book.my_rating == 5 -%}<strong>{%- endif-%}
            {{ book.author }}
            {%- if book.my_rating == 5 -%}</strong>{%- endif-%}. Read {{ book. date_read | date: "%d-%m-%Y" }}
            {%- if book.my_rating == 0 -%}
            .
            {%- else -%}
            , rated {{ book.my_rating }}/5.
            {%- endif-%}
            {%- if book.my_notes -%}
            &nbsp;<a href="{{ book.my_notes }}">My notes<span class="sr-only">on {{ book.title }}</span></a>.
            {%- endif-%}

        </li>
    {%- assign currentBookCount = currentBookCount | plus: 1 -%}

    {%- endif-%}

{%- endfor -%}
</ol>

{%- if currentBookCount == 0 -%}
<p>Nothing this month.</p>
{%- endif-%}

<h2 id="arting">Arting</h2>

{%- assign currentArtCount = 0 -%}

    {% assign sortedart = site.art | reverse %}

    {%- for art in sortedart -%}

        {%- assign artSlugYearMonth = art.slug | slice: 0, 7 -%}
    
        {%- if artSlugYearMonth == currentYearMonth -%}

<h3 id="{{ art.slug }}"><a href="{{ art.url }}">{{ art.title }}</a></h3>
  <ul role="list" class="art">
  {%- for note in site.static_files -%}
    {%- if note.path contains art.url -%}
    <li role="listitem">
      <a href="{{ note.path }}">
        {{- note.basename -}}
      </a>
    </li>
    {%- endif -%}
  {%- endfor -%}
  </ul>

        {%- assign currentArtCount = currentArtCount | plus: 1 -%}

        {%- endif-%}

    {%- endfor -%}

{%- if currentArtCount == 0 -%}
<p>Nothing this month.</p>
{%- endif-%}

{% include footer.html %}