<!DOCTYPE html>
<html lang="en-nz" class="notes">
  <head>
    <meta charset="utf-8" />
    <title>Notes: {{ page.title }}</title>
    <meta content="" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="https://use.typekit.net/ven2qwv.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

    <meta content="#fafafa" name="theme-color" />
  </head>

  <body>
    <h1>{{ page.title }}</h1>

    <ul>
      {% for note in site.static_files %} {% if note.path contains page.section
      %}
      <li>
        <a href="{{ note.path }}" title="{{ note.basename }}">
          <img
            src="{{ note.path }}"
            alt="Index card notes for {{ note.basename }}"
          />
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </body>
</html>
