{% include header.html title="Notes" %}

    <ul class="notes">
      {% for note in site.static_files %}
        {% if note.path contains page.url %}
        <li>
          <h2>{{ note.basename | replace: "-", " " }}</h2>
          <a href="{{ note.path }}">
            <img
              src="{{ note.path }}"
              alt="Index card notes for {{ note.basename }}"
              loading="lazy"
            />
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

{% include footer.html %}
