{% include header.html title=page.title %}

{{ content | markdownify }}

<ol>

  {%- for recentpost in site.posts limit: 9 -%}
  <li id="{{ recentpost.title | truncatewords: 5 | slugify  }}">
    {%- if recentpost.star -%}<strong>{%- endif -%}
    {{ recentpost.title }} 
    {%- if recentpost.star -%}</strong>{%- endif -%}
    <span class="tags">&nbsp;In&nbsp;
    
    {%- assign sortedrecentposttags = recentpost.tags | sort_natural -%}

    {%- capture recentposttags -%}
      {%- for tag in sortedrecentposttags -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ recentposttags | remove_first: ", " }}. Added {{ recentpost.date | date: "%d-%m-%Y" }}.</span>
  </li>
  {%- endfor -%}
</ol>

<p>See also: <a href="/{{ page.currentcategory }}/topics/">a list of {{ page.currentcategory | capitalize }} topics</a>; <a href="/{{ page.currentcategory }}/all/">a list of all {{ page.currentcategory | capitalize }} items</a>; <a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a>.</p>

{% include footer.html %}
