{% include header.html title=page.title %}

{{ content | markdownify }}

<ol>

  {%- for recentpost in site.posts limit: 13 -%}
  <li id="{{ recentpost.title | truncatewords: 5 | slugify  }}">
    {%- if recentpost.star -%}<strong>{%- endif -%}
    {{ recentpost.title }} 
    {%- if recentpost.star -%}</strong>{%- endif -%}
    <span class="tags">&nbsp;In&nbsp;
    
    {%- assign sortedrecentposttags = recentpost.tags | sort_natural -%}

    {%- capture recentposttags -%}
      {%- for tag in sortedrecentposttags -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/thinking/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ recentposttags | remove_first: ", " }}. Added {{ recentpost.date | date: "%d-%m-%Y" }}.</span>
  </li>
  {%- endfor -%}
</ol>

{% include thinking-links.html %}

{% include footer.html %}
