{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign sortedtags = site.tags | sort -%}

{% include thinking-links.html %}

<details>
  <summary>Filter the page by a search term</summary>
  <form method="GET" action="">
    <label for="search">Search term</label>
    <input id="search" type="text" name="s">
    <button>Search</button>
  </form>
</details>

{%- for tag in sortedtags -%}

  {%- assign tagsrelatedtothistag = "" -%}
  {%- assign currenttagname = tag[0] -%}

  <div id="{{ currenttagname }}" class="topic">

    <h2><span class="tagmoji">{{ site.data.tagmoji[currenttagname] }}</span> <a href="#{{ currenttagname }}">{%-
    if currenttagname == "TMWT" -%}
    {{ currenttagname }}
    {%- else -%}
    {{ currenttagname | capitalize }}
    {%- endif -%}</a></h2>

      <ul>
      {%- assign starredposts = tag[1] | where: "star", "true" -%}
      {%- for post in starredposts -%}

        <li id="{{ post.title | truncatewords: 5 | slugify  }}">
          {{ post.title }}

          {%- assign numberoftags = post.tags | size -%}
          {%- if numberoftags > 1 -%}

            {%- assign sortedposttags = post.tags | sort_natural -%}

            {%- capture tagsrelatedtothispost -%}
            &nbsp;<span class="tags">Related:&nbsp;
            {%- for taginpost in sortedposttags -%}
              {%- unless taginpost == currenttagname -%}
                , <span class="tagmoji">{{ site.data.tagmoji[taginpost] }}</span>&nbsp;<a href="#{{ taginpost }}">{%- if taginpost == "TMWT" -%}{{ taginpost }}{%- else -%}{{ taginpost | capitalize }}{%- endif -%}</a>
              {%- endunless -%}
            {%- endfor -%}
            .
            {%- endcapture -%}
            {{ tagsrelatedtothispost | remove_first: ", " }}</span>

          {%- endif -%}
        </li>

      {%- endfor -%}
      </ul>
  </div>

{%- endfor -%}
</div>

<script>
  (() => {
    if (!window.location.hash && !window.location.search) return;

    // if there's a hash, only show that section
    const currenttopic = window.location.hash;
    if (currenttopic) {
      const topicdivs = document.querySelectorAll('.topic');
      topicdivs.forEach(el => el.classList.add('sr-only'));
      document.getElementById(currenttopic.substring(1)).classList.remove('sr-only');
    }

    // if there's a s query param, only show those items
    const params = new URLSearchParams(window.location.search);
    const searchterm = params.get('s');

    if(searchterm) {
      // update title and h1
      document.title = document.title.replace('Starred', 'Starred, filtered for "' + searchterm + '"');
      document.querySelector('h1').textContent.replace('Starred', 'Starred, filtered for "' + searchterm + '"');

      const relatedto = document.querySelectorAll('.related-to');
      relatedto.forEach(el => el.remove());

      const lis = document.querySelectorAll('main li');
      lis.forEach(el => {
        if (!el.textContent.toLowerCase().includes(searchterm)) {
          el.remove();
        }
      });

      const headings = document.querySelectorAll('h2');
      headings.forEach(el => {
        if (el.nextElementSibling.childElementCount == 0) {
          el.remove();
        }
      });
    }
  })();
</script>

{% include footer.html %}
