{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign sortedtags = site.tags | sort -%}

{% include thinking-links.html %}

{% include search-form.html title=page.title %}

{%- for tag in sortedtags -%}

  {%- assign tagsrelatedtothistag = "" -%}
  {%- assign currenttagname = tag[0] -%}

  <div id="{{ currenttagname }}" class="topic">

    <h2><span class="tagmoji">{{ site.data.tagmoji[currenttagname] }}</span> <a href="#{{ currenttagname }}">{%-
    if currenttagname == "TMWT" -%}
    {{ currenttagname }}
    {%- else -%}
    {{ currenttagname | capitalize }}
    {%- endif -%}</a></h2>

      <ul>
      {%- assign starredposts = tag[1] | where: "star", "true" -%}
      {%- for post in starredposts -%}

        <li">
          {{ post.title }}

          {%- assign numberoftags = post.tags | size -%}
          {%- if numberoftags > 1 -%}

            {%- assign sortedposttags = post.tags | sort_natural -%}

            {%- capture tagsrelatedtothispost -%}
            &nbsp;<span class="tags">Related:&nbsp;
            {%- for taginpost in sortedposttags -%}
              {%- unless taginpost == currenttagname -%}
                , <span class="tagmoji">{{ site.data.tagmoji[taginpost] }}</span>&nbsp;<a href="#{{ taginpost }}">{%- if taginpost == "TMWT" -%}{{ taginpost }}{%- else -%}{{ taginpost | capitalize }}{%- endif -%}</a>
              {%- endunless -%}
            {%- endfor -%}
            .
            {%- endcapture -%}
            {{ tagsrelatedtothispost | remove_first: ", " }}</span>

          {%- endif -%}
        </li>

      {%- endfor -%}
      </ul>
  </div>

{%- endfor -%}
</div>

{% include search-js.html %}

{% include footer.html %}
