{% include header.html title=page.title %}

{{ content | markdownify }}

<h2 id="zen">Zen</h2>

<p>One of my <a href="/themes/2024/">themes for 2024</a> is Zen.</p>

{%- assign zenposts = site.thinking | where: "zen2024", "true" | sort: "updated" | reverse -%}

{%- assign previousZenMonth = site.time | date: "%m" -%}

<ul>
{% for zenpost in zenposts %}
  {% unless zenpost.longerform %}
  {%- assign currentZenMonth = zenpost.updated | date: "%m" -%}
  <li{% if currentZenMonth != previousZenMonth %} class="month-change"{%- assign previousZenMonth = currentZenMonth -%}{% endif %}>
    <a href="{{ zenpost.url }}">{{ zenpost.title }}</a>
    (added {{ zenpost.added }}{% if zenpost.updated != zenpost.added %}, updated {{ thinkingpost.updated }}{% endif %})
  </li>
  {% endunless %}
{% endfor %}
</ul>

<h2 id="longer-form" tabindex="-1">Longer form</h2>

{%- assign longerformposts = site.thinking | where: "longerform", "true" | sort: "updated" | reverse -%}

{%- assign previousLongerFormMonth = site.time | date: "%m" -%}
{%- assign previousLongerFormYear = site.time | date: "%Y" -%}

<h3 id="longer-form-{{ previousLongerFormYear }}">{{ previousLongerFormYear }}</h3>

<ul>
{% for longerformpost in longerformposts %}
{%- assign currentLongerFormMonth = longerformpost.updated | date: "%m" -%}
{%- assign currentLongerFormYear = longerformpost.updated | date: "%Y" -%}

{% if currentLongerFormYear != previousLongerFormYear %}
{%- assign previousLongerFormYear = currentLongerFormYear -%}
</ul>
<h3 id="longer-form-{{ currentLongerFormYear }}">{{ currentLongerFormYear }}</h3>
<ul>
{% endif %}

  <li{% if currentLongerFormMonth != previousLongerFormMonth %} class="month-change"{%- assign previousLongerFormMonth = currentLongerFormMonth -%}{% endif %}>
    <a href="{{ longerformpost.url }}">{{ longerformpost.title }}</a>
    (added {{ longerformpost.added }}{% if longerformpost.updated !=  longerformpost.added %}, updated {{ longerformpost.updated }}{% endif %})
  </li>
{% endfor %}
</ul>

<h2 id="collections" tabindex="-1">Collections</h2>

{%- assign thinkingposts = site.thinking | sort: "updated" | reverse -%}

{%- assign previousCollectionsMonth = site.time | date: "%m" -%}

<ul>
{% for thinkingpost in thinkingposts %}
{%- assign currentCollectionsMonth = thinkingpost.updated | date: "%m" -%}
  {% unless thinkingpost.longerform %}
  {% unless thinkingpost.zen2024 %}
  <li{% if currentCollectionsMonth != previousCollectionsMonth %} class="month-change"{%- assign previousCollectionsMonth = currentCollectionsMonth -%}{% endif %}>
    <a href="{{ thinkingpost.url }}">{{ thinkingpost.title }}</a>
    (added {{ thinkingpost.added }}{% if thinkingpost.updated != thinkingpost.added %}, updated {{ thinkingpost.updated }}{% endif %})
  </li>
  {% endunless %}
  {% endunless %}
{% endfor %}
</ul>

<h2>See also</h2>

{% include thinking-links.html %}

{% include footer.html %}
