{% include header.html title=page.title %}

{{ content | markdownify }}


<p>Jump down the page to:</p>
  <ul class="skip-toc" role="list">
    {% if page.zen %}<li><a href="#zen">Zen</a></li>{% endif %}
    {% if page.zen %}<li><a href="#zen-notes">Zen book notes</a></li>{% endif %}
    <li><a href="#longer-form">longer form writing</a></li>
    <li><a href="#notes">notes from books, articles, talks</a></li>
    <li><a href="#omb">OMB</a></li>
    <li><a href="#buddhism">Buddhism</a></li>
    <li><a href="#ifs">IFS-ish</a></li>
    <li><a href="#collections">collections of short bits</a></li>
  </ul>

<h2 id="zen" tabindex="-1">Zen</h2>
{% include section-loop.html section="zen2024" %}

<h3 id="zen-notes" tabindex="-1">Zen notes</h3>
{% include section-loop.html section="zen2024notes" %}

<h2 id="longer-form" tabindex="-1">Longer form</h2>
{% include section-loop.html section="longerform" %}

<h3 id="notes" tabindex="-1">Notes from books, articles, talks</h3>
{% include section-loop.html section="notes" %}

<h2 id="buddhism" tabindex="-1">Buddhism</h2>
{% include section-loop.html section="buddhism" %}

<h2 id="omb" tabindex="-1">OMB</h2>
{% include section-loop.html section="omb" %}

<h2 id="ifs" tabindex="-1">IFS-ish</h2>
{% include section-loop.html section="ifs" %}

<h2 id="collections" tabindex="-1">Collections</h2>
{% include section-loop.html section="sbcollection" %}

<h2>See also</h2>

{% include thinking-links.html %}

{% include footer.html %}
