{% include header.html title=page.title %}

{{ content | markdownify }}

<h2 id="zen">Zen</h2>

<p>One of my <a href="/themes/2024/">themes for 2024</a> is Zen.</p>

{%- assign thinkingposts = site.thinking | where: "zen2024", "true" | sort: "updated" | reverse -%}

<ul>
{% for thinkingpost in thinkingposts %}
  {% unless thinkingpost.longerform %}
  <li>
    <a href="{{ thinkingpost.url }}">{{ thinkingpost.title }}</a>
    (added {{ thinkingpost.added }}{% if thinkingpost.updated != thinkingpost.added %}, updated {{ thinkingpost.updated }}{% endif %})
  </li>
  {% endunless %}
{% endfor %}
</ul>

<h2 id="collections">Collections</h2>

{%- assign thinkingposts = site.thinking | sort: "updated" | reverse -%}

<ul>
{% for thinkingpost in thinkingposts %}
  {% unless thinkingpost.longerform %}
  {% unless thinkingpost.zen2024 %}
  <li>
    <a href="{{ thinkingpost.url }}">{{ thinkingpost.title }}</a>
    (added {{ thinkingpost.added }}{% if thinkingpost.updated != thinkingpost.added %}, updated {{ thinkingpost.updated }}{% endif %})
  </li>
  {% endunless %}
  {% endunless %}
{% endfor %}
</ul>

<h2 id="longer-form" tabindex="-1">Longer form</h2>

{%- assign longerformposts = site.thinking | where: "longerform", "true" | sort: "updated" | reverse -%}

<ul>
{% for longerformpost in longerformposts %}
  <li>
    <a href="{{ longerformpost.url }}">{{ longerformpost.title }}</a>
    (added {{ longerformpost.added }}{% if longerformpost.updated !=  longerformpost.added %}, updated {{ longerformpost.updated }}{% endif %})
  </li>
{% endfor %}
</ul>

<h2>See also</h2>

{% include thinking-links.html %}

{% include footer.html %}
