{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign currentcategoryposts = site.posts | where: "categories", page.currentcategory -%}
{%- assign starredposts = currentcategoryposts | where: "star", "true" | sort: "order" -%}

<ol>

  {%- for starredpost in starredposts -%}
  <li>
    {{ starredpost.title }} In&nbsp;
    
    {% assign sortedstarredpost = starredpost.tags | sort_natural  %}

    {%- capture starredposttags -%}
      {%- for tag in sortedstarredpost -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ starredposttags | remove_first: ", " }}.
  </li>
  {%- endfor -%}
</ol>

<p>See also:</p>

<ul>
  <li><a href="/{{ page.currentcategory }}/topics/">{{ page.currentcategory | capitalize }} topics</a>;</li>
  <li> <a href="/{{ page.currentcategory }}/all/">all {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.currentcategory }}/recently-added/">recently added {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a>.</li>
</ul>

{% include footer.html %}
