{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign currentcategoryposts = site.posts | where: "categories", page.currentcategory -%}
{%- assign starredposts = currentcategoryposts | where: "star", "true" -%}

<ul>

  {%- for starredpost in starredposts -%}
  <li>
    {{ starredpost.title }} In&nbsp;
    
    {%- capture starredposttags -%}
      {%- for tag in starredpost.tags -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ starredposttags | remove_first: ", " }}.
  </li>
  {%- endfor -%}
</ul>

<p>See also: <a href="/{{ page.currentcategory }}/topics/">a list of {{ page.currentcategory | capitalize }} topics</a>; <a href="/{{ page.currentcategory }}/all/">a list of all {{ page.currentcategory | capitalize }} items</a>; <a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a>.</p>

{% include footer.html %}
