{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign sortedtags = site.tags | sort -%}

<p>There's also <a href="/{{ page.currentcategory }}/topics/">a list of just the topics</a> and <a href="/{{ page.currentcategory }}/starred/">a list of just the starred items</a>.</p>

{%- for tag in sortedtags -%}

  {%- assign postsfilteredbycategory = tag[1] | where: "categories", page.currentcategory -%}
  {%- assign numberofpostsfilteredbycategory = postsfilteredbycategory | size -%}

  {%- unless numberofpostsfilteredbycategory == 0 -%}

    {%- assign tagsrelatedtothistag = "" -%}
    {%- assign currenttagname = tag[0] -%}

    <h2 id="{{ currenttagname }}"><span class="tagmoji">{{ site.data.tagmoji[currenttagname].emoji }}</span> {{ currenttagname | capitalize }}</h2>

    <ul>
    {%- for post in postsfilteredbycategory -%}
      <li>
        {% if post.star %}★ {% endif %}
        {{ post.title }}

        {%- assign numberoftags = post.tags | size -%}
        {%- if numberoftags > 1 -%}

          {%- capture tagsrelatedtothispost -%}
          &nbsp;Related:&nbsp;
          {%- for taginpost in post.tags -%}
            {%- unless taginpost == currenttagname -%}
              , <span class="tagmoji">{{ site.data.tagmoji[taginpost].emoji }}</span> <a href="#{{ taginpost }}">{{ taginpost | capitalize }}</a>
            {%- endunless -%}
          {%- endfor -%}
          .
          {%- endcapture -%}
          {{ tagsrelatedtothispost | remove_first: ", " }}

        {%- endif -%}
      </li>

      {%- for tagfortagrelation in post.tags -%}
        {%- unless tagfortagrelation == currenttagname -%}
          {%- assign tagsrelatedtothistag = tagsrelatedtothistag | append: ", " | append: tagfortagrelation -%}
        {%- endunless -%}
      {%- endfor -%}

    {%- endfor -%}
    </ul>

    {%- assign tagsrelatedtothistag = tagsrelatedtothistag | remove_first: ", " -%}
    {%- assign tagsrelatedtothistagarray = tagsrelatedtothistag | split: ", " -%}
    {%- assign tagsrelatedtothistagarray = tagsrelatedtothistagarray | uniq -%}
    {%- assign tagsrelatedtothistagarraysize = tagsrelatedtothistagarray | size -%}

    {%- unless tagsrelatedtothistagarraysize == 0 -%}
      {%- capture tagsrelatedtothistagstring -%}
      Related to {{ currenttagname | capitalize }}:&nbsp;
      {%- for tagsrelatedtothistaglinks in tagsrelatedtothistagarray -%}
        , <span class="tagmoji">{{ site.data.tagmoji[tagsrelatedtothistaglinks].emoji }}</span> <a href="#{{ tagsrelatedtothistaglinks }}"> {{ tagsrelatedtothistaglinks | capitalize }}</a>
      {%- endfor -%}
      .
      {%- endcapture -%}
      {{ tagsrelatedtothistagstring | remove_first: ", " }}
    {%- endunless -%}

    {%- assign postsfilteredbytheothercategory = tag[1] | where: "categories", page.othercategory -%}
    {%- assign numberofpostsfilteredbytheothercategory = postsfilteredbytheothercategory | size -%}

    {%- unless numberofpostsfilteredbytheothercategory == 0 -%}
    &nbsp;See also: <a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a> → <span class="tagmoji">{{ site.data.tagmoji[currenttagname].emoji }}</span> <a href="/{{ page.othercategory }}/#{{ currenttagname }}"> {{ currenttagname | capitalize }}</a>.
    {%- endunless -%}

  {%- endunless -%}

{%- endfor -%}

{% include footer.html %}
