{% include header.html title=page.title %}

{{ content | markdownify }}

<h2>Table of contents</h2>

<ol>
  <li><a href="#short-form">Short form</a></li>
  <li><a href="#long-form">Long form</a></li>
</ol>

{%- assign currentcategoryposts = site.posts | where: "categories", page.currentcategory -%}

<h2 id="short-form" tabindex="-1">Short form</h2>

<h3 id="preamble">Preamble</h3>
{%- assign preambleposts = currentcategoryposts | where: "preamble", "true" | sort: "order" -%}

<ol>
  {%- for preamble in preambleposts -%}
  <li id="{{ preamble.title | truncatewords: 5 | slugify  }}">
    {{ preamble.title }} <span class="tags">In
    
    {% assign sortedpreamble = preamble.tags | sort_natural  %}

    {%- capture preambletags -%}
      {%- for tag in sortedpreamble -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ preambletags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="thebigidea">The Big Idea</h3>
{%- assign thebigideaposts = currentcategoryposts | where: "thebigidea", "true" | sort: "order" -%}

<ol>
  {%- for thebigidea in thebigideaposts -%}
  <li id="{{ thebigidea.title | truncatewords: 5 | slugify  }}">
    {{ thebigidea.title }} <span class="tags">In
    
    {% assign sortedthebigidea = thebigidea.tags | sort_natural  %}

    {%- capture thebigideatags -%}
      {%- for tag in sortedthebigidea -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ thebigideatags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="reality">Reality</h3>
{%- assign realityposts = currentcategoryposts | where: "reality", "true" | sort: "order" -%}

<ol>
  {%- for reality in realityposts -%}
  <li id="{{ reality.title | truncatewords: 5 | slugify  }}">
    {{ reality.title }} <span class="tags">In
    
    {% assign sortedreality = reality.tags | sort_natural  %}

    {%- capture realitytags -%}
      {%- for tag in sortedreality -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ realitytags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="perception">Perception</h3>
{%- assign perceptionposts = currentcategoryposts | where: "perception", "true" | sort: "order" -%}

<ol>
  {%- for perception in perceptionposts -%}
  <li id="{{ perception.title | truncatewords: 5 | slugify  }}">
    {{ perception.title }} <span class="tags">In
    
    {% assign sortedperception = perception.tags | sort_natural  %}

    {%- capture perceptiontags -%}
      {%- for tag in sortedperception -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ perceptiontags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="concepts">Concepts</h3>
{%- assign conceptsposts = currentcategoryposts | where: "concepts", "true" | sort: "order" -%}

<ol>
  {%- for conceptspost in conceptsposts -%}
  <li id="{{ conceptspost.title | truncatewords: 5 | slugify  }}">
    {{ conceptspost.title }} <span class="tags">In
    
    {% assign sortedconceptspost = conceptspost.tags | sort_natural  %}

    {%- capture conceptsposttags -%}
      {%- for tag in sortedconceptspost -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ conceptsposttags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<hr />

<h3 id="free-will-and-self">Free Will and Self</h3>
{%- assign freewillandselfs = currentcategoryposts | where: "freewillandself", "true" | sort: "order" -%}

<ol>
  {%- for freewillandself in freewillandselfs -%}
  <li id="{{ freewillandself.title | truncatewords: 5 | slugify  }}">
    {{ freewillandself.title }} <span class="tags">In
    
    {% assign sortedfreewillandself = freewillandself.tags | sort_natural  %}

    {%- capture freewillandselftags -%}
      {%- for tag in sortedfreewillandself -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ freewillandselftags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="the-tao">The Tao</h3>
{%- assign thetaos = currentcategoryposts | where: "thetao", "true" | sort: "order" -%}

<ol>
  {%- for thetao in thetaos -%}
  <li id="{{ thetao.title | truncatewords: 5 | slugify  }}">
    {{ thetao.title }} <span class="tags">In
    
    {% assign sortedthetao = thetao.tags | sort_natural  %}

    {%- capture thetaotags -%}
      {%- for tag in sortedthetao -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ thetaotags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="no-problem">No Problem</h3>
{%- assign noproblems = currentcategoryposts | where: "noproblem", "true" | sort: "order" -%}

<ol>
  {%- for noproblem in noproblems -%}
  <li id="{{ noproblem.title | truncatewords: 5 | slugify  }}">
    {{ noproblem.title }} <span class="tags">In
    
    {% assign sortednoproblem = noproblem.tags | sort_natural  %}

    {%- capture noproblemtags -%}
      {%- for tag in sortednoproblem -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ noproblemtags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="palliative">The Palliative Society</h3>
{%- assign palliatives = currentcategoryposts | where: "pain", "true" | sort: "order" -%}

<ol>
  {%- for palliative in palliatives -%}
  <li id="{{ palliative.title | truncatewords: 5 | slugify  }}">
    {{ palliative.title }} <span class="tags">In
    
    {% assign sortedpalliative = palliative.tags | sort_natural  %}

    {%- capture palliativetags -%}
      {%- for tag in sortedpalliative -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ palliativetags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h2>See also</h2>

<ul>
  <li><a href="/{{ page.currentcategory }}/topics/">{{ page.currentcategory | capitalize }} topics</a>;</li>
  <li> <a href="/{{ page.currentcategory }}/all/">all {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.currentcategory }}/recently-added/">recently added {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a>.</li>
</ul>

<h2 id="long-form" tabindex="-1">Long form</h2>

<ul>
  <li><a href="/thinking/layers/">Layers</a></li>
  <li><a href="/thinking/how-i-take-notes/">How I take notes</a></li>
</ul>

{% include footer.html %}
