{% include header.html title=page.title %}

{{ content | markdownify }}

{%- assign currentcategoryposts = site.posts | where: "categories", page.currentcategory -%}

<h2 id="short-form" tabindex="-1">Short form</h2>

<h3 id="preamble">Preamble</h3>
{%- assign preambleposts = currentcategoryposts | where: "preamble", "true" | sort: "order" -%}

<ol>
  {%- for preamble in preambleposts -%}
  <li id="{{ preamble.title | truncatewords: 5 | slugify  }}">
    {{ preamble.title }} <span class="tags">In
    
    {% assign sortedpreamble = preamble.tags | sort_natural  %}

    {%- capture preambletags -%}
      {%- for tag in sortedpreamble -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ preambletags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="thebigidea">The Big Idea</h3>
{%- assign thebigideaposts = currentcategoryposts | where: "thebigidea", "true" | sort: "order" -%}

<ol>
  {%- for thebigidea in thebigideaposts -%}
  <li id="{{ thebigidea.title | truncatewords: 5 | slugify  }}">
    {{ thebigidea.title }} <span class="tags">In
    
    {% assign sortedthebigidea = thebigidea.tags | sort_natural  %}

    {%- capture thebigideatags -%}
      {%- for tag in sortedthebigidea -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ thebigideatags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="reality">Reality</h3>
{%- assign realityposts = currentcategoryposts | where: "reality", "true" | sort: "order" -%}

<ol>
  {%- for reality in realityposts -%}
  <li id="{{ reality.title | truncatewords: 5 | slugify  }}">
    {{ reality.title }} <span class="tags">In
    
    {% assign sortedreality = reality.tags | sort_natural  %}

    {%- capture realitytags -%}
      {%- for tag in sortedreality -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ realitytags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="perception">Perception</h3>
{%- assign perceptionposts = currentcategoryposts | where: "perception", "true" | sort: "order" -%}

<ol>
  {%- for perception in perceptionposts -%}
  <li id="{{ perception.title | truncatewords: 5 | slugify  }}">
    {{ perception.title }} <span class="tags">In
    
    {% assign sortedperception = perception.tags | sort_natural  %}

    {%- capture perceptiontags -%}
      {%- for tag in sortedperception -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ perceptiontags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h3 id="concepts">Concepts</h3>
{%- assign conceptsposts = currentcategoryposts | where: "concepts", "true" | sort: "order" -%}

<ol>
  {%- for conceptspost in conceptsposts -%}
  <li id="{{ conceptspost.title | truncatewords: 5 | slugify  }}">
    {{ conceptspost.title }} <span class="tags">In
    
    {% assign sortedconceptspost = conceptspost.tags | sort_natural  %}

    {%- capture conceptsposttags -%}
      {%- for tag in sortedconceptspost -%}
      , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/{{ page.currentcategory }}/all/#{{ tag }}">{{ tag | capitalize }}</a>
      {%- endfor -%}
    {%- endcapture -%}

    {{ conceptsposttags | remove_first: ", " }}.</span>
  </li>
  {%- endfor -%}
</ol>

<h2 id="longer-form" tabindex="-1">Long former</h2>

<ul>
  <li><a href="/thinking/layers/">Layers</a></li>
  <li><a href="/thinking/how-i-take-notes/">How I take notes</a></li>
  <li><a href="/thinking/before-thoughts/">Before thoughts</a></li>
</ul>

<h2>Collections</h2>

<ul>
  <li><a href="/thinking/buddhist-ideas/">Buddhist ideas</a></li>
  <li><a href="/thinking/the-tao/">The Tao</a></li>
  <li><a href="/thinking/free-will-and-self/">Free Will and Self</a></li>
  <li><a href="/thinking/consciousness/">Consciousness</a></li>
  <li><a href="/thinking/no-problem/">No Problem</a></li>
  <li><a href="/thinking/the-palliative-society/">The Palliative Society</a></li>
</ul>

<h2>See also</h2>

<ul>
  <li><a href="/{{ page.currentcategory }}/topics/">{{ page.currentcategory | capitalize }} topics</a>;</li>
  <li> <a href="/{{ page.currentcategory }}/all/">all {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.currentcategory }}/recently-added/">recently added {{ page.currentcategory | capitalize }} items</a>;</li>
  <li><a href="/{{ page.othercategory }}/">{{ page.othercategory | capitalize }}</a>.</li>
</ul>

{% include footer.html %}
