{% include header.html title=page.title %}

{{ content | markdownify }}

<p>Below is an overview of the topics.</p>

{%- assign sortedtags = site.tags | sort -%}

<h2 id="the-topics">The topics</h2>

{%- capture listoftags -%}
  {%- for tag in sortedtags -%}
    {%- assign currenttagname = tag[0] -%}
    , <span class="tagmoji">{{ site.data.tagmoji[currenttagname] }}</span>&nbsp;<a href="#{{ currenttagname }}">{{ currenttagname | capitalize }}</a>
  {%- endfor -%}
{%- endcapture -%}

{{ listoftags | remove_first: ", " }}.

<h2 id="the-connections">The connections</h2>

<ul>
{%- for tag in sortedtags -%}

  {%- assign postsfilteredbycategory = tag[1] | where: "categories", "thinking" -%}
  {%- assign numberofpostsfilteredbycategory = postsfilteredbycategory | size -%}

  {%- unless numberofpostsfilteredbycategory == 0 -%}

    {%- assign tagsrelatedtothistag = "" -%}
    {%- assign currenttagname = tag[0] -%}

    <li id="{{ currenttagname }}">
      <span class="tagmoji">{{ site.data.tagmoji[currenttagname] }}</span>&nbsp;<a href="/thinking/topics/{{ currenttagname }}/">{{ currenttagname | capitalize }}</a>

      <ul>

    {%- for post in postsfilteredbycategory -%}
      {%- for tagfortagrelation in post.tags -%}
        {%- unless tagfortagrelation == currenttagname -%}
          {%- assign tagsrelatedtothistag = tagsrelatedtothistag | append: ", " | append: tagfortagrelation -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- assign tagsrelatedtothistag = tagsrelatedtothistag | remove_first: ", " -%}
    {%- assign tagsrelatedtothistagarray = tagsrelatedtothistag | split: ", " -%}
    {%- assign tagsrelatedtothistagarray = tagsrelatedtothistagarray | uniq -%}
    {%- assign tagsrelatedtothistagarraysize = tagsrelatedtothistagarray | size -%}
    {%- assign tagsrelatedtothistagarray = tagsrelatedtothistagarray | sort_natural %}
    
    {%- unless tagsrelatedtothistagarraysize == 0 -%}
      {%- capture tagsrelatedtothistagstring -%}
          <p>Connected to:&nbsp;
        {%- for tagsrelatedtothistaglinks in tagsrelatedtothistagarray -%}
          , <span class="tagmoji">{{ site.data.tagmoji[tagsrelatedtothistaglinks] }}</span>&nbsp;<a href="/thinking/topics/{{ tagsrelatedtothistaglinks }}">{{ tagsrelatedtothistaglinks | capitalize }}</a>
        {%- endfor -%}
        .</p>
      {%- endcapture -%}
      
      <li>
        {{ tagsrelatedtothistagstring | remove_first: ", " }}
      </li>
    {%- endunless -%}

    </ul>
  </li>
  {%- endunless -%}

{%- endfor -%}
</ul>

<h2>See also</h2>

{% include thinking-links.html %}

{% include footer.html %}
