{%- assign currentYear = page.year | plus: 0 -%}
{%- assign currentWeek = page.week | plus: 0 -%}

{%- assign weeklyArchivePageTitle = "Archive for week " | append: currentWeek -%}

{% include header.html title=weeklyArchivePageTitle %}

<h1>Archive for week {{ currentWeek }}</h1>

Just Thinking, Noting, Reading.

{%- if content.size > 0 -%}
<h2>Summary and highlights</h2>
{{ content | markdownify }}
{%- endif -%}

<h2 id="thinking">Thinking</h2>

<h3 id="zen" tabindex="-1">Zen</h3>
{% include section-loop-week.html section="zen" %}

<h3 id="zen-notes" tabindex="-1">Zen notes</h3>
{% include section-loop-week.html section="zennotes" %}

<h3 id="longer-form" tabindex="-1">Longer form</h3>
{% include section-loop-week.html section="longerform" %}

<h3 id="notes" tabindex="-1">Notes from books, articles, talks</h3>
{% include section-loop-week.html section="notes" %}

<h3 id="ai" tabindex="-1">AI-related</h3>
{% include section-loop-week.html section="ai" %}

<h3 id="buddhism" tabindex="-1">Buddhism</h3>
{% include section-loop-week.html section="buddhism" %}

<h3 id="omb" tabindex="-1">OMB</h3>
{% include section-loop-week.html section="omb" %}

<h3 id="ifs" tabindex="-1">IFS-ish</h3>
{% include section-loop-week.html section="ifs" %}

<h3 id="collections" tabindex="-1">Collections</h3>
{% include section-loop-week.html section="sbcollection" %}

<h3 id="posts">Posts</h3>

<ol reversed>
{%- assign recentposts = site.posts | where: "categories", "thinking"  -%}
{%- assign reversedRecentPosts = recentposts | reverse -%}

{%- for recentpost in reversedRecentPosts -%}
    
    {%- assign recentPostYear = recentpost.date | date: "%Y" | plus: 0 -%}
    {%- assign recentPostWeek = recentpost.date | date: "%U" | plus: 0 -%}

    {%- if currentYear == recentPostYear and currentWeek == recentPostWeek -%}

    <li>
        {%- if recentpost.star -%}<strong>{%- endif -%}
        {{ recentpost.title }} 
        {%- if recentpost.star -%}</strong>{%- endif -%}
        <span class="tags">&nbsp;In&nbsp;

        {%- assign sortedrecentposttags = recentpost.tags | sort_natural -%}

        {%- capture recentposttags -%}
          {%- for tag in sortedrecentposttags -%}
          , <span class="tagmoji">{{ site.data.tagmoji[tag] }}</span>&nbsp;<a href="/thinking/topics/{{ tag }}/">{{ tag | capitalize }}</a>
          {%- endfor -%}
        {%- endcapture -%}

        {{ recentposttags | remove_first: ", " }}. Added {{ recentpost.date | date: "%d-%m-%Y" }}.</span>
    </li>

    {%- assign currentThinkingCount = currentThinkingCount | plus: 1 -%}

    {%- endif -%}
    
{%- endfor -%}
</ol>

<h2 id="noting">Noting</h2>

{%- assign currentBookNoteCount = 0 -%}

<ol reversed>
{%- for booknote in site.data[page.booksdata] -%}
    {%- if booknote.my_notes -%}
        {%- assign currentBookNoteWeek = booknote.date_read | date: "%U" | plus: 0 -%}

        {%- if currentWeek == currentBookNoteWeek -%}
            <li>
                <a href="{{ booknote.my_notes }}">{{ booknote.title }}</a>.
            </li>
        {%- assign currentBookNoteCount = currentBookNoteCount | plus: 1 -%}
        {%- endif-%}
    {%- endif-%}
{%- endfor -%}
</ol>

<h2 id="reading">Reading</h2>

<ol reversed>
{%- assign currentBookCount = 0 -%}

{%- for book in site.data[page.booksdata] -%}
    {%- assign currentBookWeek = book.date_read | date: "%U" | plus: 0 -%}
    {%- if currentWeek == currentBookWeek -%}
        <li>
            {%- if book.my_rating == 5 -%}<strong>{%- endif-%}
            {{ book.title }}
            {%- if book.my_rating == 5 -%}</strong>{%- endif-%}
            &nbsp;by&nbsp;
            {%- if book.my_rating == 5 -%}<strong>{%- endif-%}
            {{ book.author }}
            {%- if book.my_rating == 5 -%}</strong>{%- endif-%}. Read {{ book. date_read | date: "%d-%m-%Y" }}
            {%- if book.my_notes -%}
            &nbsp;<a href="{{ book.my_notes }}">My notes<span class="sr-only">on {{ book.title }}</span></a>.
            {%- endif-%}

        </li>
    {%- assign currentBookCount = currentBookCount | plus: 1 -%}

    {%- endif-%}

{%- endfor -%}
</ol>

{% include footer.html %}
