---
title: Table of contents
---
{% include header.html title="Thinking" %}

<p>These are some ideas that made me stop and think. They changed how I think about things and how I try to be in the world. They help me be a better person. For me that means being a better friend, partner, teacher, professional, creative.</p>

{% assign thinkingcategories = site.data.thinking | map: "category" | uniq | sort %}

{%- for thinkingcategory in thinkingcategories -%}

  {%- assign thinks = site.data.thinking | where: "category", thinkingcategory -%}
  <h2 id="{{ thinkingcategory }}">{{ thinkingcategory | capitalize }}</h2>
  <ul>
    {%- for think in thinks -%}
    <li>{{ think.text }}</li>
    {%- endfor -%}
  </ul>

  {%- assign numbeofrelateddoings = site.data.doing | where: "category", thinkingcategory | size -%}
  {%- if numbeofrelateddoings > 0 -%}
  See also: Doing > <a href="/doing/#{{ thinkingcategory }}">{{ thinkingcategory | capitalize }}</a>.
  {%- endif -%}
  
{%- endfor -%}

{% include footer.html %}